@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: linear-gradient(#ee9ca7, #ffdde1);
}
.time-container,
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.time-container span {
  color: black;
  font-weight: bold;
  background-color: rgba(223, 160, 45, 0.5);
  text-align: center;
  width: 150px;
  font-size: 100px;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
}
.button-container button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: tomato;
  outline: none;
  border: none;
}
.button-container button[disabled] {
  background-color: rgb(246, 136, 117);
}
